header {
    height: 100px;
    background-color:rgb(9, 115, 148);
    box-shadow: 10px 10px 10px 10px rgb(63, 61, 61);
    
   
}

h2 {
    padding-left : 20px;
    color : white;
}
#connexion {
    float :right;
    margin-left: 30px;
    margin-right: 30px;
    
}

nav {
    margin-top: 50px;
}

